<%-include('../layouts/adminheader.ejs')%>
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    </style>
    <div class="container m-5 tm-mt-big tm-mb-big">
        <div class="row m-5">
            <div class="col-xl-12 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-light tm-block tm-block-h-auto">
                    <div class="col">
                        <div class="col-8 d-inline-block">
                            <h1 class="tm-block-title d-inline-block">Add New Category</h1>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <form action="/admin/addcatogory" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                                
                                <div class="form-group mb-3">
                                    <label for="name">Category title</label>
                                    <input  name="categoryName" type="text" class="form-control validate categoryNameCheak" required />
                                </div>

                                <div class="form-group mb-3">
                                    <label for="name">Category Offer Amount
                                    </label>
                                    <input style="appearance: none; -webkit-appearance: none; -moz-appearance: textfield;" id="categoryOfferAmount" name="categoryOfferAmount" type="number" class="form-control validate"
                                        required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="description">Description</label>
                                    <textarea class="form-control validate" rows="3" name="CategoryDescription"
                                        required></textarea>
                                </div>
                                <div>
                                    <input type="file" name="categoryImage" class="btn btn-outline-light"> 
                                </div>
                             

                                <a
                                style="color: #ff0000;font-size: 20px; text-decoration: none; margin-left: 140px;font-weight: bold;">
                                <% if (typeof message !=='undefined' ) { %>
                                    <%= message %>
                                    <% } %>
                                </a>
                                
                                <div class="col-9 m-0"  >
                                    <button type="submit"  class="btn btn-dark btn-block text-uppercase mb-4" style="margin-top: 20px;height: 70px;">Submit New Category</button>
                                </div>
                            </div>
                            </form>

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th  id="categoryList" class="text-center text-light"></th>
                                            <th>Name</th>
                                            <th>Offer Amount</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% count=1 %>   
                                        <% category.forEach(function(category) { %>
                                            <tr>
                                              <td><%= count%></td>
                                              <td> <%= category.categoryName %></td>
                                              <td> <%= category.CategoryOffer%></td> 
                                              
                                              <% category.categoryImage.forEach(function(photo) { %>
                                                <td>
                                                  <img src="/upload/<%= photo %>" alt="" style="height: 50px;width: 50px;">
                                                  <% }) %>
                                                </td>

                                               <td class="text-end">
                                                <a href="/admin/editCategory?id=<%= category._id %>" class="btn btn-outline-primary rounded mt-15" style="margin-right: 10px ;margin-bottom: 10px;">Edit</a>
                                                <a href="/admin/deleteCategory?id=<%= category._id %>" class="btn btn-outline-danger rounded mt-15" style="margin-right: 10px;">Delete</a>
                                               
                                            </td>
                                            </tr>
                                           <% count++ %>
                                           <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div>
            <div class="col-3 m-3">
                <button class="btn btn-dark btn-block text-uppercase"><a href="/admin/adminHome">Home</a></button>
              </div>

              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.3/dist/sweetalert2.all.min.js"></script>
<script>
const cheakCategoryExit = document.querySelector(".categoryNameCheak");

cheakCategoryExit.addEventListener("change", () => {
  const categoryNameValue = cheakCategoryExit.value;
  fetch('/admin/duplicateCategory', {
    method: 'POST',
    body: JSON.stringify({ categoryNameValue }),
    headers: {
      'Content-Type': 'application/json'
    }
  })
    .then(response => response.json())
    .then(data => {
      if (data.category) {
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        html: `It seems like you entered category already exits <span style="color: red; font-weight: bold;"><br>${data.categoryNameValue}</span>!`,
        footer: '<a href="#categoryList">Why do I have this issue?</a>'
})
      } else {

    }
    })
    .catch(error => {
      console.log(error);
    });
});


</script>

                        <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
                        <!-- <script src="jquery-ui-datepicker/jquery-ui.min.js"></script> -->

                        <!-- <script src="js/bootstrap.min.js"></script> -->
                        
</body>

</html>