<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Category - Dashboard HTML Template</title>
    <link rel="stylesheet" href="/https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/templatemo-style.css">
<style>
    
</style>
</head>

<body >
    <div>
        <ul style="height: 60px;background-color: #394f61;" class="nav justify-content-center navbar-expand-lg">
            <li class="nav-item">
              <a class="nav-link active" href="/admin/addcoupons">Add coupon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/listCoupons">List coupons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/adminHome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
    </div>
    <div style="width: 100%;" class="container w-0 tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-12 m-0 col-lg-12 col-md-12 col-sm-12 mx-auto">

                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="col">
                        <div class="col-8 d-inline-block">
                            <h1 class="tm-block-title d-inline-block">Add New Category</h1>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                       
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                            </th>
                                          
                                            <th>Coupon Name</th>
                                            <th>Coupon Amount</th>
                                            <th>Coupon Expire date</th>
                                            <th>Code</th>
                                            <th>Coupon Description</th>
                                            <th>Minimum Amount</th>
                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% count=1 %>   
                                        <% coupons.forEach(function(i) { %>
                                            <tr>
                                              <td><%= count%></td>
                                              <td> <%= i.couponName%></td>
                                              <td> <%= i.couponAmount%></td> 
                                              <td> <%= i.couponExpireDate%></td> 
                                              <td> <%= i.code%></td> 
                                              <td> <%= i.couponDescription%></td> 
                                              <td> <%= i.minimumAmount%></td> 
                                              
                                             

                                               <td class="text-end">
                                                <a href="/admin/editcoupon?id=<%= i._id %>" class="btn btn-outline-dark rounded mt-15" style="margin-right: 10px ;margin-bottom: 10px;">Edit</a>
                                                <a href="/admin/deletecoupon?id=<%= i._id %>" class="btn btn-outline-danger rounded mt-15" style="margin-right: 10px;" onclick="confirmDelete(event, '<%= i._id %>')">Delete</a>

                                            </td>
                                            </tr>
                                           <% count++ %>
                                           <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div>


            <div class="col-3 m-3">
                <button class="btn btn-dark btn-block text-uppercase"><a href="/admin/adminHome">Home</a></button>
              </div>


                        <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
                        <!-- <script src="jquery-ui-datepicker/jquery-ui.min.js"></script> -->

                        <!-- <script src="js/bootstrap.min.js"></script> -->
<script>
function confirmDelete(event, id) {
  event.preventDefault(); // Prevent the default behavior of the link

  if (confirm('Are you sure you want to delete this coupon?')) {
    const deleteUrl = `/admin/deletecoupon?id=${id}`;

    fetch(deleteUrl, {
      method: 'DELETE'
    })
    .then(response => {
      if (response.status==200) {
        console.log('deleted')
        window.location.href="/admin/listCoupons";
      } else {
        // Handle error, e.g., show an error message
      }
    })
    .catch(error => {
        console.log(error.message)
    });
  }
}


</script>                        
</body>

</html>