<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/5f6d1ef682.js" crossorigin="anonymous"></script>
    <title>Hexashop - Product Listing Page</title>
        
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
        
        <link rel="stylesheet" href="/assets/css/templatemo-hexashop.css">
        
        <link rel="stylesheet" href="/assets/css/owl-carousel.css">
        
        <link rel="stylesheet" href="/assets/css/lightbox.css">        
    </head>
    <style>
   
   .loaders {
  display: inline-block;
  width: 190px;
  height: 10px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.loaders span {
  font: 700 22px monospace;
  text-transform: uppercase;
  margin: auto;
  color: #fff;
  letter-spacing: 5px;
}

.loaders::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-image: linear-gradient(332deg, #6bff7f, #32ff3c);
  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: left;
  animation: load5123 1s infinite;
}

@keyframes load5123 {
  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 50px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 250px;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}


.searchbar-clear-icon {
  margin-right: 12px
}


.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
</style>
<body>

    <!-- ***** Preloader Start ***** -->
    <div class="mt-5">
        <div class="jumper">
        </div>
    </div>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home" class="logo">
                            <img src="/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav ">
                            
                            <div class="searchbar">
                                <div class="searchbar-wrapper">
                                  <div class="searchbar-left">
                                    <div class="search-icon-wrapper">
                                      <span class="search-icon searchbar-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                          <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                          </path>
                                        </svg>
                                      </span>
                                    </div>
                                  </div>

                                  <form action="/search" class="searchbar-center" id="search-form">
                                    <div class="searchbar-input-spacer"></div>
                                    <input type="text" class="searchbar-input" maxlength="2048" name="term" autocapitalize="off" autocomplete="off" title="Search" role="combobox" placeholder="Search" id="search-input">
                                  </form>
                                  <div class="spinner" id="spinner" style="display: none;"></div>
                                </div>
                              </div>
                              

                            <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                            
                            <li class="scroll-to-section"><a href="/allProducts">All products</a></li>

                            <li class="submenu">
                                <a href="javascript:;">Category List</a>
                                <% if (allcategory && allcategory.length> 0) { %>
                                    <ul>
                                        <% allcategory.forEach(function(category) { %>
                                            <li><a href="/categorySort?categoryid=<%= category._id %>">
                                                    <%= category.categoryName %>
                                                </a></li>
                                            <% }); %>
                                    </ul>
                                    <% } else { %>
                                        <span>No categories available</span>
                                        <% } %>
                            </li>
                            <li style="margin-left:10px;"><a href="/wishlist"><i class="fa-sharp fa-solid fa-heart"style="font-size: larger;"></i></a> </li>      
                            <li style="margin-left:10px;"><a href="/profile"><i class="fa-solid fa-user "style="font-size: larger;"></i></a> </li>        
                            <li style="margin-left:10px;"><a href="/cart"><i class="fa-solid fa-cart-shopping" style="font-size: larger;"><span id="cartCount" style="color: red;font-size: larger;" class="cart-count">&nbsp;<%=cartCount%></span></i></a> </li>       
                                      
                            </ul>

                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <script>

const searchInput = document.getElementById('search-input');
const searchForm = document.getElementById('search-form');
const spinner = document.getElementById('spinner');

searchInput.addEventListener('keyup', function(event) {
  event.preventDefault();
  if (event.key === 'Enter') {
    spinner.style.display="block"
    
    setTimeout(() => {
      searchForm.submit();
    }, 5000);
  }
});


    </script><style>

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #c7c7c8;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
a {
    color: #5465ff;
    text-decoration: none;
}
</style>
<div class="container" style="margin-top: 100px;">
  <!-- Title -->
  <div class="d-flex justify-content-between align-items-center py-3">
    <h2 class="h5 mb-0"><a href="#" class="text-muted"></a>Order Number&nbsp;:&nbsp;<%= product.orderNumber %></h2>
  </div>

  <!-- Main content -->
  <div class="row">
    <div class="col-lg-8">
      <!-- Details -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="mb-3 d-flex justify-content-between">
            <div>
              <h6 class="me-3">Payment Method &nbsp;:&nbsp; <%= product.paymentMethod %></h6>
              <h6 class="me-3"><td>Ordered Date&nbsp;:&nbsp;<%= (new Date(product.orderDate)).toLocaleDateString("en-US", { weekday: "short", month: "long", day: "numeric", year: "numeric" }) %></td></h6>
              <h6 class="me-3"><td>Expected Delivery date&nbsp;:&nbsp;<%= (new Date(product.expectedDeliveryDate)).toLocaleDateString("en-US", { weekday: "short", month: "long", day: "numeric", year: "numeric" }) %></td></h6>
              <h6 class="badge rounded-pill bg-info"><%=product.status%></h6>
            </div>

          </div>
          <table class="table table-borderless">
            <tbody>
              <% product.products.forEach((product) => { %>
                <tr>
                <td>
                  <div class="d-flex mb-2">
                    <div class="flex-shrink-0">
                      <img src="<%=product.product_id.productImage[2]%>" alt="" width="35" class="img-fluid">
                    </div>
                    <div class="flex-lg-grow-1 ms-3">
                      <h6 class="medium"><a href="/singleProduct?id=<%=product.product_id._id%>" class="text-reset"><%= product.product_id.productName %></a></h6>
                      <h6 class="medium">Color: <%= product.product_id.productColor %></h6>
                      <h6 class="medium">Quantity: <%= product.Quantity%></h6>
                      <h6 class="medium">Price: <%= product.product_id.price%></h6>
                    </div>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Subtotal</td>
                <td class="text-end"><%= product.total %></td>
              </tr>
              <tr>
                <td colspan="2">Shipping</td>
                <td class="text-end">Free</td>
              </tr>
              <tr>
                <td colspan="2">Discount (Code:)</td>
                <td class="text-danger m-0 p-0 text-end">
                  <%= product.coupon === "0" ? "Not Applied" : product.coupon %>
                </td>                
              </tr>
              <tr class="fw-bold">
                <td colspan="2">TOTAL</td>
                <td class="text-end"><%= product.total %></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- Payment -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="h6">Payment Method</h3>
              <p><%= product.paymentMethod %> <br>
                Total: <%= product.total %>
                <span class="badge bg-success rounded-pill"><%=product.paymentStatus%></span></p>
            </div>
            <div class="col-lg-6">
              <h3 class="h6">Billing address</h3>
              <address>
                <strong><%= product.address.name %></strong><br>
                <%= product.address.address %><br>
                <%= product.address.city %>, <%= product.address.pincode %><br>
                <abbr title="Phone"></abbr> <%= product.address.phoneNo %>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Customer Notes -->
      <div class="card mb-4">
        <!-- Shipping information -->
        <div class="card-body">
          <h3 class="h6">Shipping Information</h3>
          <strong>FedEx</strong>
          <span><a href="#" class="text-decoration-underline" target="_blank"><%=product.orderNumber%></a> <i class="bi bi-box-arrow-up-right"></i> </span>
          <hr>
          <h3 class="h6">Address</h3>
          <address>
            <strong><%= product.address.name %></strong><br>
            <%= product.address.address %><br>
            <%= product.address.city %>, <%= product.address.pincode %><br>
            <abbr title="Phone"></abbr> <%= product.address.phoneNo %>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>