<%- include("../layouts/header.ejs", { allcategory: allcategory }) %>


    <!-- ***** Men Area Ends ***** -->
<style>body {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
/* Helpers */
.is-hidden {
	display: none !important;
}

.is-desktop {
	display: block;
}

@media (max-width: 768px) {
	.is-desktop {
		display: none !important;
	}
}

.is-mobile {
	display: none !important;
}

@media (max-width: 768px) {
	.is-mobile {
		display: block !important;
	}
}

.announcement {
	--base-font: inherit;
	--small-font: 0.75rem;
	--normal-font: 1rem;
	--medium-font: 1.25rem;
	--primary-color: #FA003F;
	--secondary-color: #fff;
	--base-padding: 0.5rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary-color);
	font-family: var(--base-font-dev), sans-serif;
	padding: var(--base-padding);
}

@media (max-width: 768px) {
	.announcement {
		flex-direction: column-reverse;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 4;
	}
}

/* Removes the announcement on Print */
@media print {
	.announcement {
		display: none;
	}
}

.announcement .text {
	padding: 0 1rem;
	color: var(--secondary-color);
}

@media (max-width: 768px) {
	.announcement .text {
		padding-bottom: var(--base-padding);
	}
}

.announcement input,
.announcement button {
	font-family: var(--base-font);
	font-size: var(--small-font);
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: var(--base-padding);
	border: 2px dashed var(--secondary-color);
	/* height: 36px; */
}

.announcement input {
	background: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	border-right: 0;
	font-size: 16px;
}

.announcement button {
	background: var(--secondary-color);
	color: var(--primary-color);
	cursor: pointer;
	box-shadow: none;
	border-radius: 0;
	font-size: 1rem;
}

.announcement #timer {
	/* font-weight: bold; */
	background: var(--secondary-color);
	color: var(--primary-color);
	padding: var(--base-padding);
	margin-left: 1rem;
	width: 150px;
	text-align: center;
	border: 1px dashed var(--secondary-color);
	margin-right: 2.5rem;
	line-height: 1.3;
}

.announcement .coupon {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	.announcement .coupon {
		margin: 1rem auto;
	}
}

/* Style the close button (span) */
.announcement .close {
	cursor: pointer;
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	background: var(--primary-color);
	color: var(--secondary-color);
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
}

@media (min-width: 769px) {
	.announcement .close {
		top: 50%;
		transform: translateY(-50%);
		border-radius: 50%;
		left: inherit;
		right: 0.5rem;
		background: var(--secondary-color);
		color: var(--primary-color);
	}
}

.announcement .tooltip {
	position: relative;
	display: inline-block;
	color: var(--secondary-color);
	opacity: 1;
	line-height: inherit;
	font-size: inherit;
	z-index: inherit;
}

.announcement .tooltip .tooltiptext {
	visibility: hidden;
	position: absolute;
	bottom: 130%;
	left: 50%;
	background-color: #555;
	color: #fff;
	width: 170px;
	font-size: smaller;
	/* font-weight: bold; */
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 1;
}

.announcement .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	bottom: -100%;
}

.announcement .tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	top: -35%;
	transform: rotate(180deg);
}

@media (max-width: 768px) {
	.announcement .tooltip:hover .tooltiptext {
		bottom: 150%;
	}

	.announcement .tooltip .tooltiptext::after {
		top: 100%;
		transform: rotate(0deg);
	}
}</style>
    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
            </div>
        </div>
        <div class="announcement">
            <span class="close">&#x2715;</span>
            <div class="text">
                <span class="is-desktop">
                    <strong><%=coupon[0].couponName%></strong> <%=coupon[0].couponDescription%>
                    <h6>Minimum purchase :<strong> <%=coupon[0].minimumAmount%></strong></h6>
                </span>
                <span class="is-mobile">Use Coupon Code for <strong>50 OFF</strong></span>
            </div>
            <div class="coupon">
                <input type="text" value=<%=coupon[0].code%> id="couponCode" readonly />
                
                <div class="tooltip">
                    <button onclick="myFunction()" onmouseout="outFunc()">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        Copy
                    
                    </button>
                    
                </div>
            </div>
            <span id="timer" class="is-desktop"></span>
        </div>

        <div class="container">
            <div class="col-12">
                <div class="col-lg-12">
                    <div class="men-item-carousel  ">
                        <div class="owl-men-item owl-carousel mt-5">
                            <% allcategory.forEach(function(category) { %>
                                <div class="item m-0 ">
                                    <div class="thumb m-0 ">
                                        <% category.categoryImage.forEach(function(image) { %>
                                            <a href="/categorySort?categoryid=<%=category._id%>">
                                                <img src="/upload/<%= image %>" alt="<%= category.categoryName %> "
                                                style="height: 200px; border-radius: 10px;">
                                            </a>
                                            <% }); %>
                                    </div>
                                    <div class="down-content m-0">
                                        <h4 style="text-align: center;color: rgba(0, 0, 0, 0.668);">
                                            <%= category.categoryName %>
                                        </h4>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>


            </div>
    </section>
    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Explore Our Products</h2>
                        <span>You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or
                            edit this layout. You can convert this template as any kind of ecommerce CMS theme as you
                            wish.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                            <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                        </div>
                        <p>There are 5 pages included in this HexaShop Template and we are providing it to you for
                            absolutely free of charge at our TemplateMo website. There are web development costs for us.
                        </p>
                        <p>If this template is beneficial for your website or business, please kindly <a rel="nofollow"
                                href="https://paypal.me/templatemo" target="_blank">support us</a> a little via PayPal.
                            Please also tell your friends about our great website. Thank you.</p>
                        <div class="main-border-button">
                            <a href="products.html">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Leather Bags</h4>
                                    <span>Latest Collection</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="assets/images/explore-image-01.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="assets/images/explore-image-02.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Different Types</h4>
                                    <span>Over 304 Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Social Media</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Fashion</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="assets/images/instagram-01.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>New</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="assets/images/instagram-02.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Brand</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="assets/images/instagram-03.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Makeup</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="assets/images/instagram-04.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Leather</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="assets/images/instagram-05.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Bag</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="assets/images/instagram-06.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-5">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Your Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-5">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                        placeholder="Your Email Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button"><i
                                            class="fa fa-paper-plane"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                                <li>Phone:<br><span>010-020-0340</span></li>
                                <li>Office Location:<br><span>North Miami Beach</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                                <li>Email:<br><span>info@company.com</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a
                                            href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="assets/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

<script>// Countdown Timer
    function countDown(x) {
        if (x.matches) {
            console.log('Mobile');
        } else {
            // If media query matches
            console.log('Desktop');
            // Set the date we're counting down to
            var countDownDate = new Date('<%=coupon[0].couponExpireDate%>').getTime();
    
            // Update the count down every 1 second
            var x = setInterval(function () {
                // Get today's date and time
                var now = new Date().getTime();
    
                // Find the distance between now and the count down date
                var distance = countDownDate - now;
    
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor(
                    (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                );
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
                // Output the result in an element with id="demo"
                document.getElementById('timer').innerHTML =
                    days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's ';
    
                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById('timer').innerHTML = 'EXPIRED';
                }
            }, 1000);
        }
    }
    
    var x = window.matchMedia('(max-width: 768px)');
    countDown(x); // Call listener function at run time
    x.addListener(countDown); // Attach listener function on state changes
    
    // Click to Copy
    var tooltip = document.getElementById('myTooltip');
    var copyText = document.getElementById('couponCode');
    function myFunction() {
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand('copy');
        tooltip.innerHTML = 'Copied: ' + copyText.value;
    }
    function outFunc() {
        tooltip.innerHTML = 'Copy to clipboard';
    }
    
    // Close
    var closebtns = document.getElementsByClassName(
        'close'
    ); /* Get all elements with class="close" */
    var i;
    /* Loop through the elements, and hide the parent, when clicked on */
    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener('click', function () {
            this.parentElement.style.display = 'none';
        });
    }</script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>

</html>