<%-include('../layouts/header.ejs',{allcategory})%>
<body>
  <style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.container {
  display: flex;
  justify-content: center;
  
}

.iphone {
  background-color: #ffffff;
  margin: 50px;
  height:   600px;
  width: 100%;
  box-shadow: 0 1px 5px -1px rgba(167, 167, 167, 0.3), inset 0 0 0 1px rgba(142, 142, 142, 0.077);
  overflow: none;
  position: relative;
  transform: scale(0.9);
  transform-origin: top center;
}

.header {
  height: 30%;
  background-color: #000000;
  border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
   overflow: hidden;
}

.header::before{
  content:"";
  height: 200px;
  width: 200px;
  background-color: #53b5a8;
  border-radius: 50%;
  position:absolute;
  top: -60px;
  left: -100px;
  z-index: 2;
}

.header::after {
  content:"";
  height: 100px;
  width: 100px;
  background-color: #53b5a8;
  border-radius: 50%;
  position:absolute;
  right: -20px;
  bottom: -30px;
  z-index: 2;
 
}

.header-summary {
  display: flex;
  flex-direction: column;
font-family: 'Montserrat', sans-serif;
  color: white;
  z-index: 3;
}

.summary-text {
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.summary-balance {
  font-size: x-large;
  font-weight: 900;
  letter-spacing: 1.5px;
  /* margin-bottom: 0.8rem; */
  
}

.summary-text-2 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.user-profile {
  margin-top: 4rem;
  height: 70px;
  width: 70px;
  align-self: flex-start;
}

.user-photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
}

.content {
  z-index: 4;
  position: absolute;
  top: 210px;
  margin-left:30px;
  display:flex;
  flex-direction:column;
  width:85%;
}

.card {
font-family: 'Montserrat', sans-serif;
  align-self: stretch;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction:column;
   box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.0);
}

.upper-row {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
  padding-top: 10px
}

.card-item {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.card-item span:first-child {
  
  font-size: x-large;
  font-weight: 900;
  margin-bottom:10px;
}

.card-item span:last-child {
  font-size: 2.2rem;
  font-weight: 900;
}

.dollar {
  color: #ff9500;
}

.lower-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.lower-row::before {
    /* content: ' '; */
    display: block;
    position: absolute;
    top: 110px;
    width: 50%;
    left: 25%;
    border-top: 1px solid #E1E1E1;
}

.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #ff9500;
  font-size: x-large;
  padding: 10px;
  background-color: #FBFBFB;
  border-radius: 5px;
  margin-bottom: 5px;
}

.icon-text {  
  font-size: 1.2rem;
  font-weight: 900;
}

.transactions {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: relative;
  margin-top: 1.5rem;
  flex-direction: column;
}

.t-desc {
  font-size: large;
  font-weight: bold;
  padding-bottom: 10px;
}

.transaction {
  cursor: default;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(34, 33, 33);
  box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.0);
  border-radius: 12px;
  margin-bottom:20px;
}

.t-details {
  width: 55%;
  
}

.t-icon-container {
  
  width: 105px;
  align-self: flex-start;
}

.t-icon {
  width: 139%;
  border-radius: 5px;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
}

.t-title {
  text-align: left;
  flex-grow: 1;  
  font-size: 1.4rem;
  font-weight: 900;
  margin: 5px;
  color: #fff;
}

.t-time {
  color:rgb(255, 255, 255);
  font-size:medium;
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 1px;
}

.t-amount {
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 700;
  color: #06D778;
}

.red {
  color: #F4532D;
}

.drawer {
  display:flex;
  background-color: white;
  height:80px;
  position:absolute;
  bottom: 0px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 5;
  justify-content: space-evenly;
  align-items: center;
}


.drawer span {
  display: inline-block;
  font-size: 1.5rem;
  color: #FFC168;
  transition: all 0.4s;
  cursor: pointer;
}

.drawer span i:hover {
  transform: scale(1.2);
  border-bottom: 2px solid orange;
}

.drawer span i {
  transition: all 0.3s ease;
  padding-bottom: 8px;
}



.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #FFC168;
  color: white;
  top: -25px;
  position: absolute;
  transform: rotate(-45deg);
  border-radius: 10px;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.1s;
  opacity: 0.9;
}

.menu-btn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-btn i{
  font-size: 1.5em;
  transform: rotate(45deg);
  
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.transaction:hover {
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.loader {
  display: block;
  --height-of-loader: 8px;
  --loader-color: #0071e2;
  width: 326px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 5s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
.loaders {
  width: 48px;
  height: 48px;
  border: 2px solid #53b5a8;
  background-color: rgb(239, 239, 190);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation_35 1s linear infinite;
}

.loaders::after,
.loaders::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background:#53b5a8;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}

.loaders::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation_35 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 
  </style>
	
  <body>
    <div class="container">
      <div class="iphone">
        <div class="header">
          <div class="header-summary">
            <div class="summary-text">
              My Balance
            </div>
            <div class="summary-balance">
              <% if (wallet && totalRefundAmount) { %>
                &#8377; <%= totalRefundAmount.toFixed(2) %>
              <% } else { %>
                <h5>No wallet amount available</h5>
              <% } %>
            </div>
          </div>
          <div class="user-profile">
            <span class="loaders"></span>
          </div>
        </div>
        <div class="content">
          <div class="card">
            <div class="upper-row">
              <div class="card-item">
                <span>Active Balance</span>
                <% if (wallet && totalRefundAmount) { %>                  
                  <span>&nbsp; <%= totalRefundAmount.toFixed(2) %> <span class="dollar">&#8377;</span></span>                  
              </div>
            </div>
            <div class="lower-row">
              <!-- Your other code here -->
            </div>
          </div>
          
          <div class="transactions">
            <span class="t-desc">Recent Transactions</span>
            <% wallet.refunds.forEach(orderRefundDetails => { %>
              <div class="transaction">
                <a href="/singleProduct?id=<%= orderRefundDetails.orderId && orderRefundDetails.orderId.products && orderRefundDetails.orderId.products[0].product_id && orderRefundDetails.orderId.products[0].product_id._id %>">
                  <div class="t-icon-container">
                    <img src="/upload/<%= orderRefundDetails.orderId && orderRefundDetails.orderId.products && orderRefundDetails.orderId.products[0].product_id && orderRefundDetails.orderId.products[0].product_id.productImage && orderRefundDetails.orderId.products[0].product_id.productImage[0] %>" class="t-icon">
                  </div>
                </a> 
                <div class="t-details">
                  <div class="t-title" style="text-transform: capitalize;">
                    Product  <%= orderRefundDetails.orderId.products && orderRefundDetails.orderId.products[0] && orderRefundDetails.orderId.products[0].product_id && orderRefundDetails.orderId.products[0].product_id.productName %>
                   </div>
                  <div class="t-title" style="text-transform: capitalize;">
                  Order number : <%= orderRefundDetails.orderId.orderNumber %>
                  </div>
                  <div class="t-time">
                    <span>Refund Date </span><%= orderRefundDetails.refundDate.toLocaleDateString('en-GB') %>
                  </div>
                </div>
                <div class="t-amount">
                  +&nbsp;<%= orderRefundDetails.returnAmount %>&#8377;
                </div>
              </div>
            <% })%>
          <% }
           else {%>
        <h4>No wallet amount available</h4>
        <div class="loader"></div>
      <% } %>
    </div>

  </body>
  